body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  background-color: red;
  text-align: center;
}
.sdn_container {
  display: flex;
  flex-wrap: wrap;
}
.album_photo_container {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
  width: 60%;
  height: 30rem;
  margin: 25px;
}

.user_container {
  background-color: yellow;
  width: 19rem;
  height: 37rem;
  text-align: center;
}

.album_container {
  /* background-color: green; */
  /* position: fixed; */
  /* bottom: 34rem; */
  /* right: 30rem; */
  /* width: 35%;
  height: 6rem;
  display: flex; */
}

.dropdown {
  /* position: relative; */
  background-color: white;
  width: 30rem;
  height: 3rem;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  font-family: Calibri;
  font-size: 18px;
}

.user_box {
  border: grey;
  border: solid;
  line-height: 2rem;
  padding: 2px;
  margin-top: 10px;
  max-width: 13rem;
  text-align: center;
}

.photobox_container {
  background-color: aqua;
  display: flex-wrap;
  margin: 30px;
  padding: 15px;
  /* position: absolute; */
  width: 120%;
  height: 30rem;
  left: 20rem;
  bottom: 1rem;
  right: 16rem;
  text-align: center;
}

.photo_box {
  width: 4rem;
  height: 4rem;
  background-color: white;
  line-height: 2rem;
  padding: 5px;
  margin-top: 10px;
  flex: 1 1 auto;
  border: 1px black solid;
  text-align: center;
  margin: 5px; /* adds space between photo boxes*/
  max-width: 13rem;
  text-align: center;
}
